/* VARIBALES */
:root {
	--body: rgb(245, 245, 245);
	--dark-black: rgb(18, 18, 18);
	--light-black: rgb(74, 74, 74);
	--light-gray: rgb(228, 228, 228);
	--action: rgb(208, 172, 73);
	--primary: rgb(235, 157, 169);
	--secondary: rgb(95, 94, 137);
	--offwhite: rgb(249, 250, 245);
	--shadow: rgba(0, 0, 0, 0.2);
}

html {
	font-size: 62.5%;
}

/* BUTTON UPDATED STYLES */

.btn {
	border: 1px solid var(--action) !important;
	border-radius: 0;
	display: inline-block;
	min-width: 6rem;
	overflow: hidden;
	padding: 0.8rem 1.6rem;
	position: relative;
	transition: transform 0.6s;
}

.btn--sm {
	line-height: 2.4rem;
	padding: 0.4rem 1.6rem;
}

.btn--lg {
	padding: 1.2rem 2rem;
}

.btn .btn__text {
	color: var(--action);
	font-size: 1.4rem;
	line-height: 2.4rem;
}

.btn.btn-lg .btn__text {
	font-size: 1.6rem;
}

.btn.btn--primary {
	background: var(--action);
	border: none !important;
}

.btn.btn--primary .btn__text {
	color: var(--offwhite) !important;
}

.btn:hover {
	opacity: 1;
	text-decoration: none;
	transform: translateY(-0.4rem);
	transition: transform 0.6s;
}

.btn:hover .btn__text {
	opacity: 1;
}

.btn.btn--primary:hover .btn__text {
	color: var(--offwhite) !important;
}

/* COLORS 
__________________________*/
body {
	background-color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--light-black);
}

p {
	color: var(--light-black);
}

section {
	padding: 7.5rem 0 !important;
}

.bg--dark * {
	color: var(--offwhite);
}

.bg--light * {
	color: var(--light-black);
}

.color--primary {
	color: var(--primary) !important;
}
/* FORMATTING
__________________________*/

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', 'Poppins', 'Helvetica Neue', Helvetica,
		sans-serif;
	margin-bottom: 0.5rem !important;
}

h1,
.h1 {
	font-size: 4.4rem;
	line-height: 1.45;
}

h1.big,
.h1.big {
	font-size: 5.6rem;
	line-height: 1.3;
}

h2,
.h2 {
	font-size: 3.6rem;
	line-height: 1.45;
}

h2.big,
.h2.big {
	font-size: 4.8rem;
	line-height: 1.3;
}

h3,
.h3 {
	font-size: 2.8rem;
	line-height: 1.45;
}

h3.big,
.h3.big {
	font-size: 4rem;
	line-height: 1.3;
}

h4,
.h4 {
	font-size: 2rem;
	line-height: 1.45;
}

h4.big,
.h4.big {
	font-size: 3.2rem;
	line-height: 1.3;
}

a {
	font-size: 1.4rem;
}

span {
	font-size: inherit;
}

p {
	font-family: 'Times New Roman', Georgia, Times, serif;
	font-size: 1.6rem;
	line-height: 1.45;
}

p.big {
	font-size: 2.4rem;
	line-height: 1.45;
}

.extra-light {
	font-weight: 200;
}

.light {
	font-weight: 300;
}

.semi-bold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.extra-bold {
	font-weight: 900;
}

.accordion li.active .accordion__content {
	max-height: 550px;
}

.el--vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.pos--relative {
	position: relative;
}

.round-corners {
	border-radius: 0.4rem;
}

.box-shadow {
	box-shadow: 0.3rem 0.6rem 0.9rem var(--shadow);
	transition: all 0.3s;
}

/*  NAVIGATION SECTION
__________________________*/
.nav-container a,
.nav-container span {
	font-size: 1.4rem !important;
}

.dropdown:hover > .dropdown__trigger + .dropdown__container,
.dropdown > .dropdown__trigger + .dropdown__container:hover {
	display: block;
	opacity: 1;
	pointer-events: auto;
}

.bar .logo {
	max-height: 7.5rem;
}

/* HEADER SECTION
__________________________*/

/* FOOTER
__________________________*/

/* TITLE HR BAR STYLES
_________________________ */
hr {
	background-color: var(--action) !important;
	content: '';
	display: block;
	height: 0.4rem;
	margin: 2.5rem 0 3.5rem 0;
	opacity: 1 !important;
	width: 6rem;
}

hr.center {
	margin: 2rem auto 3rem auto;
}

.bg--dark hr {
	background-color: var(--primary) !important;
}

/* LANDSCAPING SECTION
_________________________ */
#landscape__section {
	background: url('./assets/images/landscaping.jpg');
	padding: 20rem 0 !important;
	position: relative;
}

#landscape__section.opacity-left::before {
	background-color: rgba(0, 133, 60, 0.75);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 66.67%;
	top: 0;
}

#landscape__section.opacity-left::after {
	background-color: rgb(255, 255, 255);
	bottom: 0;
	content: '';
	left: 33.33%;
	position: absolute;
	right: 0;
	top: 0;
}

#landscape__section .container {
	position: relative;
	z-index: 2;
}
/* HORIZONTAL SCROLLING SECTION
___________________________________ */
.scrolling-wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding: 2rem;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

.scrolling-wrapper::-webkit-scrollbar {
	display: none;
}

.scrolling-wrapper .card {
	flex: 0 0 auto;
	margin-right: 20%;
	max-width: 32rem;
}
