/* VARIBALES */
:root {
	--body: rgb(245, 245, 245);
	--dark-black: rgb(18, 18, 18);
	--light-black: rgb(74, 74, 74);
	--light-gray: rgb(228, 228, 228);
	--action: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
	--primary: rgb(235, 157, 169);
	--secondary: rgb(247, 183, 51);
	--offwhite: rgb(249, 250, 245);
	--shadow: rgba(0, 0, 0, 0.2);
}

html {
	font-size: 62.5%;
	letter-spacing: 0.05rem;
}

/* BUTTON UPDATED STYLES */

.btn {
	border: 0.1rem solid var(--light-black) !important;
	border-radius: 0;
	display: inline-block;
	margin-top: 1.6rem;
	min-width: 6rem;
	overflow: hidden;
	padding: 0.8rem 1.6rem;
	position: relative;
	transition: transform 0.3s;
	white-space: nowrap;
}

.btn--sm {
	line-height: 2.4rem;
	padding: 0.4rem 1.6rem;
}

.btn--lg {
	padding: 1.2rem 2rem;
}

.btn .btn__text {
	color: var(--light-black);
	font-size: 1.4rem;
	line-height: 2.4rem;
}

.btn.btn-lg .btn__text {
	font-size: 1.6rem;
}

.btn.btn--primary {
	background: var(--action);
	border: none !important;
}

.btn.btn--primary .btn__text {
	color: var(--light-black) !important;
}

.btn:hover {
	opacity: 1;
	text-decoration: none;
	transform: translateY(-0.4rem);
	transition: transform 0.3s;
}

.btn.btn--primary:hover .btn__text {
	color: var(--light-black) !important;
}

/* COLORS 
__________________________*/
body {
	background-color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--light-black);
}

p {
	color: var(--light-black);
}

section {
	padding: 7.5rem 0 !important;
}

.bg--dark * {
	color: var(--offwhite);
}

.bg--light * {
	color: var(--light-black);
}

.color--primary {
	color: var(--primary) !important;
}
/* FORMATTING
__________________________*/

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', 'Source Sans Pro', 'Helvetica Neue', Helvetica,
		sans-serif;
	margin-bottom: 0.4em !important;
}

h2 {
	font-family: 'Playfair Display', 'Poppins' !important;
}

h1,
.h1 {
	font-size: 4.4rem;
	line-height: 1.45;
}

h1.big,
.h1.big {
	font-size: 5.6rem;
	line-height: 1.3;
}

h2,
.h2 {
	font-size: 3.6rem;
	line-height: 1.45;
}

h2.big,
.h2.big {
	font-size: 4.8rem;
	line-height: 1.1;
}

h3,
.h3 {
	font-size: 2.8rem;
	line-height: 1.45;
}

h3.big,
.h3.big {
	font-size: 4rem;
	line-height: 1.3;
}

h4,
.h4 {
	font-size: 2rem;
	line-height: 1.45;
}

h4.big,
.h4.big {
	font-size: 3.2rem;
	line-height: 1.3;
}

a {
	font-size: 1.4rem;
}

blockquote {
	font-family: 'Poppins', 'Source Sans Pro', 'Helvetica Neue', Helvetica,
		sans-serif;
}

span {
	font-size: inherit;
}

p {
	font-family: 'Times New Roman', Georgia, Times, serif;
	font-size: 1.6rem;
	line-height: 1.7;
	margin-bottom: 0.4em !important;
}

p.big {
	font-size: 2.4rem;
	line-height: 1.45;
}

.extra-light {
	font-weight: 200;
}

.light {
	font-weight: 300;
}

.semi-bold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.extra-bold {
	font-weight: 900;
}

.accordion li.active .accordion__content {
	max-height: 550px;
}

.el--vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.pos--relative {
	position: relative;
}

.border--round {
	border-radius: 0.6rem;
}

.box-shadow {
	box-shadow: 0.3rem 0.6rem 0.9rem var(--shadow);
	transition: all 0.3s;
}

.watermark-text {
	font-size: 8rem;
	line-height: 1.3;
	opacity: 0.4;
	position: absolute;
	text-transform: uppercase;
	top: 0px;
}

/*  NAVIGATION SECTION
__________________________*/
.nav-container a,
.nav-container span {
	font-size: 1.4rem !important;
}

.dropdown:hover > .dropdown__trigger + .dropdown__container,
.dropdown > .dropdown__trigger + .dropdown__container:hover {
	display: block;
	opacity: 1;
	pointer-events: auto;
}

.bar .logo {
	max-height: 7.5rem;
}

/* HEADER SECTION
__________________________*/

/* SERVICES SECTIONS
_________________________ */
.feature-large [class*='col-']:first-child::before {
	background: var(--secondary);
	bottom: 0;
	border-radius: 0.6rem;
	content: '';
	left: 40%;
	position: absolute;
	right: 0;
	top: 40%;
	transform: translate(1.6rem, 3rem);
	z-index: -1;
}

.feature-large.switchable--switch [class*='col-']:first-child::before {
	content: '';
	left: 0;
	right: 40%;
	top: 40%;
	transform: translate(-1.6rem, 3rem);
}

/* TERRA SECTION
_________________________ */
#terra__section .col-md-8 * {
	position: relative;
}

#terra__section .watermark-text {
	left: 50%;
	position: absolute;
	transform: translate(-30%, -25px);
	width: 100%;
}

/* TESTIMONIAL SECTION
_________________________ */
.testimonial.testimonial-1 .row > div {
	border: solid 1px #d5d5d5;
	border-radius: 6px;
	padding: 40px;
}

.testimonial.testimonial-1 .row blockquote {
	font-size: 1.9rem;
	line-height: 3.5rem;
}

/* PROCESS SECTION
_________________________ */
#process__section .number {
	border: solid 2px #d5d5d5;
	border-radius: 50%;
	color: var(--primary);
	display: flex;
	font-size: 2.4rem;
	height: 8rem;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	margin-bottom: 2.5rem;
	width: 8rem;
}

/* FOOTER
__________________________*/

/* TITLE HR BAR STYLES
_________________________ */
hr {
	background-color: var(--action) !important;
	content: '';
	display: block;
	height: 0.4rem;
	margin: 2.5rem 0 3.5rem 0;
	opacity: 1 !important;
	width: 6rem;
}

hr.center {
	margin: 2rem auto 3rem auto;
}

.bg--dark hr {
	background-color: var(--primary) !important;
}

/* INTERACTIVE MAP SECTIONS
____________________________ */

.tab-content {
	display: none;
}

.tab-content.active {
	display: inline-block;
}

.marker-tabs li.tab-link {
	position: absolute;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.marker-tabs li.tab-link::before {
	animation: pulse 2s ease infinite;
	-webkit-animation: pulse 2s ease infinite;
	background: var(--light-black);
	border-radius: 50%;
	bottom: 0;
	content: '';
	height: 100%;
	left: 0;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	width: 100%;
}

.marker-tabs li.tab-link#marker-1 {
	left: 4rem;
	top: 14rem;
}

.marker-tabs li.tab-link#marker-2 {
	left: 30rem;
	top: 6rem;
}

.marker-tabs li.tab-link#marker-3 {
	left: 43rem;
	top: 14rem;
}

.marker-tabs li.tab-link#marker-4 {
	left: 27rem;
	top: 14rem;
}

.marker-tabs li.tab-link .tab-inner {
	background: #fff;
	background-repeat: repeat;
	background-size: auto;
	border: solid 8px var(--light-black);
	box-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 25px;
	position: relative;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	width: 25px;
}

.marker-tabs li.tab-link.active::before {
	animation: pulse 2s ease infinite;
	-webkit-animation: pulse 2s ease infinite;
	background: var(--secondary);
	border-radius: 50%;
	bottom: 0;
	content: '';
	height: 100%;
	left: 0;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	width: 100%;
}

.marker-tabs li.tab-link.active .tab-inner {
	background: #fff;
	background-repeat: repeat;
	background-size: auto;
	border: solid 8px var(--secondary);
	box-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 25px;
	position: relative;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	width: 25px;
}

/* SLIDER STYLES
__________________________ */
.main-carousel .carousel-cell {
	height: 400px;
	margin: 0 5%;
	width: 600px;
}

/* LANDSCAPING SECTION
_________________________ */
#landscape__section {
	background: url('https://placehold.it/1920x1080');
	padding: 20rem 0 !important;
	position: relative;
}

#landscape__section.opacity-left::before {
	background-color: rgba(0, 133, 60, 0.75);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 66.67%;
	top: 0;
}

#landscape__section.opacity-left::after {
	background-color: rgb(255, 255, 255);
	bottom: 0;
	content: '';
	left: 33.33%;
	position: absolute;
	right: 0;
	top: 0;
}

#landscape__section .container {
	position: relative;
	z-index: 2;
}
/* HORIZONTAL SCROLLING SECTION
___________________________________ */
.scrolling-wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding: 2rem;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

.scrolling-wrapper::-webkit-scrollbar {
	display: none;
}

.scrolling-wrapper .card {
	flex: 0 0 auto;
	margin-right: 20%;
	max-width: 32rem;
}
